h1 {
  text-decoration: underline;
}
html {

      font-size: 22px;

      }

      body {

          min-height: 100vh;

              max-width: 800px;

                  margin: 0 auto;

                      padding: 1rem;

                          border-left: 1px solid #333;

                              border-right: 1px solid #333;

                              }

                              th, caption, td {

                                  border: 1px solid #333;

                                      font-family: 'Courier New', Courier, monospace;

                                          border-collapse: separate;

                                              padding: 0.5rem;

                                              }
}